.restart, .story {
    /*visibility: hidden;*/
}
h1, h2, p {
    text-align: center;
}

.example {
    position:relative
}

.bbtn, .restart {
    display: block;
    margin: 10px auto;
    height: 75px;
    width: 200px;
    font-size: 20px;
    border: 10px solid transparent;
    border-image: url(./images/border.png) 30% round;
    background-color: transparent;
}
.textContainer:hover:after{
    position: absolute;
    left: 55%;
    top: 10px;
    padding: 5px;
    content: attr(Title);
    border: 3px solid black;
    display: block;
    justify-content: center;
    max-width: 210px;
    background-color: white;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 10px solid transparent;
    
}
.nouns, .verbs, .adjectives {
    flex: 1;
    max-width: 400px;
    min-width: 300px;
    padding: 20px;
    border: 5px solid rgb(0, 30, 161);
    border-radius: 10px;
    text-align: center;
    height: 300px;
}

@media (max-width: 1250px) {
    .container {
        flex-direction: column;
        height: 100%;
    }
}